{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Acheter un biens</h1>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti doloribus eligendi
            facilis ipsum, neque nulla ratione voluptatem? A alias aliquid aut, culpa debitis eius eos expedita,
            in ipsam iste laboriosam laudantium minus pariatur quo recusandae, repellat tempora temporibus voluptatem.
        </p>
    </div>
{% endblock %}

